*{
    margin: 0;
    
    
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #181B24;
    display: flex;
    flex-direction: row;
    align-items: center;
}

main{

    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: 62vh;
    width: 30vw;
    border-radius: 20px;
    padding: 3rem;
}

.formulario{
    
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: flex-start;
    justify-content: left;
    

}

.inputEscrever{

    margin-bottom: 1rem;
    width: 28vw;
    height: 4vh;
    border-radius: 8px;
    padding: 0px 0px 0px 10px;
}

input{

    

}

.inputBotao{
    margin-left: 5px;
}

.inputBotao::after{
    
}

.botao_e_link{
    display: flex;
    flex-direction: column;

}

.botaoCadastro{
    color: white;
    background-color: #105F74;
    width: 28vw;
    height: 4.5vh;
    border-radius: 8px;
    

}



