@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    margin: 0;
    font-family: Inter;

}

body{
    width: 100vw;
    height: 100vh;
    background-color: #181B24;
    display: flex;
    flex-direction: row;
    align-items: center;
}

main{

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.tituloCadastro{
    font-size: 2rem;
    font-weight: bold;
}

.cadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: white;
  
    padding: 3% 4% 3% 4.5%;
    border-radius: 20px;
    margin-right: 12%;
}

.tituloCadastro{
    margin-bottom: 5%;
}

.formulario{
    
    display: flex;
    flex-direction: column;
    margin-bottom: 7%;
    align-items: center;

}

#label_input{
    background-color: white;
    position: relative;
    left: 9%;
    align-self: flex-start;
    top: 0.6rem;
    
    padding: 0% 1.5% 0% 1.5%;
    z-index: 10;
    
}



.inputEscrever{

    margin-bottom: 1rem;
    width: 24vw;
    height: 5.5vh;
    border-radius: 8px;
    padding: 0px 0px 0px 10px;
    border: 1px solid #222222;

    outline: none;

}

.inputEscrever::placeholder{
    font-size: 1.1rem;
}

#input_senha::placeholder{
    color: #46494C80;
    font-size: 0.75rem;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
}

#input_confirmar_senha::placeholder{
    color: #46494C80;
    font-size: 0.75rem;
}

.img_visor{
    position: absolute;
    right: 3%;
    top:20%;
    
}

.espaco_password{
    position: relative;
}

.espaco_confirmPassword{
    position: relative;
}

#label_inputButton{

    width: 85%;
    word-break: break-all;
    text-align: center;
    font-size: 1rem;
}


 


.inputBotao{
    margin-right: 0.4rem;
    position: relative;
    bottom: 0.6rem;
    border: 1px solid #222222;
    
}



.inputBotao_e_frase{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

}


.botao_e_link{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

.botaoCadastro{
    color: white;
    font-size: 1rem;
    font-weight: bold;

    background-color: #105F74;
    width: 25vw;
    height: 5.5vh;
    border-radius: 8px;
    box-shadow: 0;
    border: 0 none;
    outline: 0;
    padding: 0;

    margin-top: 5%;

}

.botao_login{
    text-decoration: none;
    color: #105F74;
    font-size: 17px;
    font-weight: bold;
    
}

label a{
    color:#105F74
}

@media screen and (max-width: 700px) {

   main{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 1rem;
   }

   .cadastro{
    width: 80%;
    margin: 0;
    padding-top: 6%;
    padding-bottom: 6%;
    
   }
   

   .img_logo{
    width: 7rem;
   
   }


   .inputEscrever{
    width: 90%;
   }

   .espaco_password{
    display: flex;
    justify-content: center;
    width: 100%;

   }

   .espaco_confirmPassword{
    display: flex;
    justify-content: center;
    width: 100%;
   }

   .img_visor{
    right: 6%;
   }

   .botaoCadastro{
    width: 16rem;
   }

   

  
  }



