@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    font-family: Inter;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #181B24;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.espaco_login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 5%;   

    position: relative;
    right: 7%;
 
}

.texto_boasvindas{
    font-size: 1.8rem;
    margin-bottom: 6%;
}

.formularioLogin{
    width: 100%;
    display: flex;
    flex-direction: column;
}

label{
    background-color: #F2F2F2;
    position: relative;
    width: min-content;
    padding-right: 2%;
    top: 1.2vh;
    left: 0.8vw;
    
    padding-left: 1%;
    
}

.inputEscrever{
    margin-bottom: 5%;
    height: 5.5vh;
    border-radius: 8px;
    padding-left: 4%; 
    border: 1px solid #222222;
    background-color: #F2F2F2;
    outline: none;

    margin-bottom: 2.5%;
}

.inputEscrever::placeholder{
    color: #46494C80;
    font-size: 1.1rem;

}

.inputEscrever_senha::placeholder{
    color: #46494C80;
    font-size: 0.75rem;

}

.input_senha_icone{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 5.5vh;

}

.inputEscrever_senha{
    width: 100%;
    height: 5.5vh;
    border-radius: 8px;
    padding-left: 5%;
    border: 1px solid #222222;
    background-color: #F2F2F2;

    outline: none;
}

.Icone_visibilidade{
    position: absolute;
    right: 16%;
}


.link_esqueceu_senha{
    position: relative;
   
    left: 31%;
    text-decoration: none;
    margin-top: 4%;


}

.botao_entrar{
    width: 100%;
    height: 5.5vh;
    
    margin: 6% 0% 5% 0%;

    border-radius: 8px;
    background-color: #105F74;
    color: #FFFFFF;
    
    font-weight: bold;
    font-size: 100%;
    border: 0px ;

}

.link_resgistrar{

    text-decoration: none;
    font-weight: bold;
    font-size: 100;
    margin-bottom: 12%;
}


.frase_final{
    width: 91%;
    word-break: break-all;
    text-align: center;
    font-size: 1rem;
    
}


a{
    color: #105F74;
}

@media screen and (max-width: 700px) {

    body{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 0;
        gap: 3%;
    }

    .logoTT{
        width: 7rem;
    }

    .espaco_login{
        padding: 11%;
        width: 70%;
        margin: 0;
        right: 0;

    }

    .link_esqueceu_senha{
        left: 22%;
        margin-bottom: 10%;
    }

    .botao_entrar{
        margin-bottom: 12%;
        width: 80%;
    }

    .frase_final{
        width: 95%;
        word-break: break-all;
        text-align: center;
        font-size: 1rem;
    
    }
}